$green: #1ed760;
$dark: #191414;
$white: #fff;
$blue: #00888b;
$darkgrey: #55706D;

@import "components/panel";

body
{
  background-color: $green;
  background-image: url('../img/background2.png');
  margin: 0 !important;
  color: $white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
.header
{
  width: 100%;
  height: 20vh;
//  background-color: rgba(0, 0, 0, 0.03);
}
.link{
  font-size: 100px;
}
.menu{
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
  padding: 2vh 0;
  font-size: 24px;
  color: #eee;
}
.menu_logo
{
  font-family: 'Poiret One', cursive;
  letter-spacing: 5px;
  padding: 8px;
  padding-bottom: 0px;
  margin-left: 50px;
  font-size: 80px;
  border-bottom: 2px solid rgba(25, 20, 20, 0.6);
  float:left;
}

.menu>li>a {
  line-height: 1.6;
  padding: 8px;
}

.menu_tile
{
  float: left;
  margin-right: 40px;
  padding: 8px;
  padding-bottom: 15px;
}
.menu_tile:hover
{
  color: #fff;
  border-bottom: 2px solid rgba(25, 20, 20, 0.6);
  cursor: pointer;
}

.menu_panel
{
  border: 2px solid #eee;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 5px;
  text-decoration: none;
  color: $white;
}
.menu_panel:hover
{
  color: #fff;
  cursor: pointer;
  border-color: rgba(25, 20, 20, 0.6);
}
.menu_panel:visited{
  color:red;
}
.panel_active
{
  color: #fff;
  border: 3px solid rgba(25, 20, 20, 0.6);
}
.page1
{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12%;
  height: 80vh;
}
h1
{
  text-align: center;
  font-size: 60px;
}
h2
{
  font-size: 50px;
  color: #1ed760;
}
.page2
{
  background-color: #FEFEFE;
  width: 100%;
  min-height: 90vh;
  padding-top: 100px;
  color: $dark;
}
.product
{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 100px;
  height: auto;
  color: #000;
}
.page3
{
  //background-image: url("img/congruent_pentagon.png");
  width: 100%;
}
.about
{
  width: 50%;
  color: #191414;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  overflow: auto;
}
.footer
{
  width: 100%;
  padding: 15px 0;
  background-color: #191414;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}
.user_login
{
  padding-top: 10vh;
}
#page3
{
  background-image: url("../img/congruent_pentagon.png");
  width: 100%;
}
#about
{
  width: 50%;
  color: #191414;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}
#footer
{
  width: 100%;
  padding: 15px 0;
  background-color: #191414;
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}
