.panel
{
  background-color: #FEFEFE;
  width: 100%;
  height: 80vh;
  padding-top: 50px;
  color: $dark;
}

.borderName{
  position: relative;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  z-index: 1;
  background-color: #FEFEFE;
}

.currentStats{
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 50px;
  padding: 20px;
  width: 50%;
  height: 80px;
  border: 3px solid $green;
  border-radius: 20px;
  font-size: 28px;
}

.controlPanel{
  padding: 20px;
  padding-top: 10vh;
  width: 100%;
  height: 50vh;
  margin-top: -20px;
  margin-bottom: -32px;
  border: 3px solid $green;
  border-radius: 20px;
}

.borderButton{
  position: relative;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  z-index: 1;
  background-color: #FEFEFE;
}

.temperatureControl{
  width: 25%;
  float: left;
}

.switchControl{
  width: 33.333%;
  float: left;
}

.controlName{
  margin-bottom: 15px;
  font-size: 22px;
}

.tempDisplay{
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  border-bottom: 2px solid $blue;
  border-left: 2px solid $blue;
  border-right: 2px solid $blue;
  border-radius: 20px;
  width: 150px;
  margin: 0 auto;
}

.coolButton {
  border: 5px solid transparent;
  background: $green;
  color: $darkgrey;
  border-radius: 40px;
  padding: 15px 30px;
  overflow: hidden;
  width: 200px;
  transition:
    all        1s,
    color      1.5s,
    box-shadow 0.3s 1s;
  white-space: nowrap;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  outline: none;
  &:hover:enabled {
    text-indent: 0;
    background: $darkgrey;
    color: $green;
    width: 250px;
    box-shadow: 3px 3px 2px rgba(black, 0.15);
  }
}

#lightPanel{
  margin-top: -20px;
  float: right;
  width: 50%;
  height: 281px;
  border: 2px solid $blue;
  border-radius: 20px;
  padding-top: 75px;
}
