.panel
{
  background-color: #FEFEFE;
  width: 100%;
  height: 80vh;
  padding-top: 50px;
  color: $dark;
}

.borderName{
  position: relative;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  z-index: 1;
  background-color: #FEFEFE;
}

.currentStats{
  margin-top: -20px;
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  height: 70px;
  border: 3px solid $green;
  border-radius: 20px;
}

.controlPanel{
  padding: 20px;
  width: 100%;
  height: 50vh;
  margin-top: -20px;
  margin-bottom: -32px;
  border: 3px solid $green;
  border-radius: 20px;
}

.borderButton{
  position: relative;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  z-index: 1;
  background-color: #FEFEFE;
}

.temperatureControl{
  width: 25%;
  float: left;
}

.controlName{
  margin-bottom: 15px;
}

.tempDisplay{
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  border-bottom: 2px solid $blue;
  width: 100px;
  margin: 0 auto;
}
